############################
# Python
############################
__pycache__/
*.py[cod]
*.so

############################
# Virtual Environment
############################
venv/
.venv/
env/
ENV/

############################
# VSCode / PyCharm
############################
.vscode/
.idea/

############################
# macOS
############################
.DS_Store

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Logs
############################
logs/
*.log
runs/

############################
# Model checkpoints
############################
checkpoints/
weights/
models/
*.pth
*.pt
*.ckpt

############################
# Datasets
############################
datasets/
data/
VOC2007/
VOC2012/
COCO/
ImageNet/

############################
# Images generated during experiments
############################
output/
results/
visualization/
*/figures/
############################
# Large files
############################
*.zip
*.tar
*.gz
*.7z
*.rar
